- rhs:
    -
      - text: x
        is_terminal: true
    -
      - is_terminal: true
        text: y
    -
      - text: z
        is_terminal: true
  lhs:
    - is_terminal: false
      text: A
- rhs:
    -
      - text: x
        is_terminal: true
      - text: y
        is_terminal: true
      - text: z
        is_terminal: true
    -
      - text: z
        is_terminal: true
      - text: y
        is_terminal: true
      - text: x
        is_terminal: true
  lhs:
    - text: A
      is_terminal: false
    - text: B
      is_terminal: false
- lhs:
    - text: B
      is_terminal: false
    - text: A
      is_terminal: false
  rhs:
    []
